- title 'Meetings'
%h2 Manage Meeting Attendance

- content_for(:desc) do
  %p Please select the link below for the meeting you wish to view.
= render 'shared/year_search_form'
:javascript
  SfspiUi.setupYearSearchForm(
    Routes.meetings_by_year_path,
    SfspiUi.meetingsTranslator
  )
