%h1 New User Created
%p A new user has been created.
%table
  %tbody
    - ['first_name','last_name','email','display_name','job_title'].each do |f|
      %tr
        %th{scope: 'row'}=@user.class.human_attribute_name(f)
        %td=@user[f]

%p
  Please set up their record link
  = link_to 'in the administration page', 
    url_for(controller: 'users', action: 'index')
