- title 'Generate Attendance Report'
%h1 Individual Attendance Report
= bootstrap_form_with scope: :member, 
  url: {controller: 'attendance_report', action: 'generate'},
  method: :get,
  local: true do |f|
  = f.select :selection, options_for_select(@records, @selected),
    label: 'Member to Generate Report For'
  = f.primary 'Submit'
