- label_content = capture do
  = label_text
  .invalid-feedback.independent-feedback
    = errors.join(', ')
= form_builder.form_group object_method, label: {text: label_content} do        
  .container.has-errors
    - collection.in_groups_of(columns) do |group|
      .row
        - group.each do |item|
          - next if item.nil?
          .col-md
            = form_builder.check_box object_method, 
              {label: item.send(label_method), multiple: true, 
                "data-skiperror": true, disabled: disabled},
              item.send(value_method),
              nil                    
