= bootstrap_form_with scope: :select, layout: :inline do |f|
  = f.number_field :year, prepend: 'Year', hide_label: true, inline: true,
    value: Time.zone.today.year
  .px-1
  = f.primary 'Search',
    type: 'button',
    id: 'search_button',
    data: { disable_with: 'Searching...' }
#search_description.d-none= content_for?(:desc) ? yield(:desc) : ''
#search_results.container
