<div class="jumbotron">
  <h1>SFSPI Attendance Reports</h1>
</div>
<p>
  <% if user_signed_in? %>
    Please select a report from the navigation bar to run.
  <% else %>
    Please click the login button to login with your Office365 account.
  <% end %>
</p>
