- title 'Home'
.jumbotron
  .container
    .row.align-items-center.h-100
      .col-md-2
        %img.img-fluid{src: asset_pack_path('images/logo.png')}
      .col-md-10
        %h1 SFSPI Attendance Reports
%p
  - unless user_signed_in?
    %p Please click the login button to login with your Office365 account.

