.jumbotron
  %h1 SFSPI Attendance Reports
%p
  - if user_signed_in?
    Please select a report from the navigation bar to run.
  - else
    Please click the login button to login with your Office365 account.
