- title 'Edit Point Nun Report Form'
%h1 Edit Point Nun Report Form
.d-flex.justify-content-end
  = link_to 'Show', event_path(@event.id), 
    class: 'btn btn-primary mx-2'
  = link_to 'Back', events_path, class: 'btn btn-primary mx-2'
- unless can_edit?
  .invalid-feedback.independent-feedback
    You cannot edit this event as you did not submit it!
#same_day_events_description.d-none
  The following events are on the same date as you've selected. Please
  click the link to view the event.  Contact the Secretary or reporting
  member with any discrepencies.
= render partial: 'events_form', locals: { submit_text: 'Save Changes',
  allow_editing: can_edit?, 
  url: {controller: 'events', action: 'update', id: @event.id},
  method: :put}
