- title 'Create Point Nun Report Form'
= javascript_tag 'SfspiUi.setupDatePickerAutoSearch();'
%h1 Create Point Nun Report Form
= render partial: 'events_form', locals: { submit_text: 'Create Event',
  allow_editing: true, url: {controller: 'events', action: 'create'}}
