<tr>
  <th scope="row"><%= label_text %></th>
  <td>
    <%= 
    select_tag(
      "#{object}[#{field_name}]",
      options_for_select(
        options,
        selected || blank_text
      ),
      include_blank: blank_text,
      class: 'form-control'
    )
    %>
    <%= hidden_field_tag "original_#{object}[#{field_name}]", selected %>
    <%= hidden_field_tag "air_name_#{object}[#{field_name}]", label_text %>
  </td>
</tr>
