!!!
%html
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    :css
      table {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }

      td, th {
        border: 1px solid #ddd;
        padding: 8px;
      }

      tr:nth-child(even){background-color: rgba(0, 0, 0, 0.05);}

      th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #fd7e17;
        color: black;
      }
  %body
    = yield
